<footer id="footer">
  <div class="outer">
    <div class="footer-line">
      基于 <a href="https://hexo.io/zh-cn/">Hexo</a> 博客以及定制化的
      <a href="https://github.com/hexojs/hexo-theme-landscape">Landscape</a> 主题
    </div>
    <div class="footer-line">© <%= new Date().getFullYear() %> 纸飞机的信笺 | PaperPlane Blog</div>
  </div>
</footer>
