<header id="header" class="scroll-fix-container">
  <div id="header-wrapper" class="scroll-fix-inner">
    <div id="header-inner" class="outer">
      <div id="header-title">
        <a href="<%- url_for() %>" id="header-title-txt">
          <%= config.title %>
          <img id="header-title-icon" src="/css/images/shooting-star.a.png" alt="🌠" />
        </a>
      </div>

      <nav id="header-links">
        <span class="link-current">·Blog</span>
        <a href="https://tl.paperplane.cc/">动态</a>
        <a href="https://github.com/jia-niang/paperplane-blog">GitHub</a>
        <a href="https://drone.paperplane.cc/jia-niang/paperplane-blog/">CI/CD</a>
        <a href="https://gpt.paperplane.cc/">GPT</a>
        <a href="https://paperplane.cc/a">全站导航</a>
      </nav>
    </div>
  </div>
</header>