<header id="header" class="scroll-fix-container">
  <div id="header-wrapper" class="scroll-fix-inner">
    <div id="header-inner" class="outer">
      <div id="header-title">
        <a href="<%- url_for() %>" id="logo">
          <%= config.title %>
          <img id="logo-img" src="/css/images/shooting-star.a.png" alt="🌠" />
        </a>
      </div>
    </div>
  </div>
</header>