<header id="header" class="scroll-fix-container">
  <div id="header-wrapper" class="scroll-fix-inner">
    <div id="header-inner" class="outer">
      <div id="header-title">
        <a href="<%- url_for() %>" id="header-title-txt">
          <%= config.title %>
        </a>
      </div>

      <script>
        document.getElementById('header-title-txt').addEventListener('click', e => {
          if (window.location.pathname === '/') {
            return
          }

          const referrer = document.referrer || ''
          if (referrer.startsWith(window.location.origin) && history.length > 1) {
            e.preventDefault()
            history.go(-1)
          }
        })
      </script>

      <nav id="header-links">
        <span class="link-current">· Blog</span>
        <a href="https://tl.paperplane.cc/">动态</a>
        <a href="https://github.com/jia-niang/paperplane-blog">GitHub</a>
        <a href="https://drone.paperplane.cc/jia-niang/paperplane-blog/">CI/CD</a>
        <a style="background-image: linear-gradient(45deg, rgb(240, 24, 121) 0%, rgb(0, 181, 255) 100%); -webkit-background-clip: text; background-clip: text; color: transparent; -webkit-text-fill-color: transparent;" href="https://paperplane.cc/a">✨探索</a>
      </nav>
    </div>
  </div>
</header>
