@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"
@import "./website-index"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: swift
  font-style: normal
  font-weight: normal
  font-display: swap
  src: url("./fonts/swift-400.eot") format("embedded-opentype"),
       url("./fonts/swift-400.woff2") format("woff2"),
       url("./fonts/swift-400.woff") format("woff"),
       url("./fonts/swift-400.ttf") format("truetype"),

@font-face
  font-family: fz-yansong-zhun
  font-style: normal
  font-weight: normal
  font-display: swap
  src: url("./fonts/fz-yansong-zhun.eot") format("embedded-opentype"),
       url("./fonts/fz-yansong-zhun.woff2") format("woff2"),
       url("./fonts/fz-yansong-zhun.woff") format("woff"),
       url("./fonts/fz-yansong-zhun.ttf") format("truetype")

@font-face
  font-family: LXGWWenKaiMonoLite-Regular
  font-style: normal
  font-weight: normal
  font-display: swap
  src: url("./fonts/LXGWWenKaiMonoLite-Regular.woff2") format("woff2"),
       url("./fonts/LXGWWenKaiMonoLite-Regular.ttf") format("truetype")

html, body, #container
  height: 100%

body
  background: #fff
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  transition: 0.2s ease-out
  position: relative

.outer
  clearfix()
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

.scroll-fix-container
  overflow-x: hidden

.scroll-fix-inner
  width: 100vw

#main
  position: relative

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"

if sidebar
  @import "_partial/sidebar"
