#website-index
  padding: 0 20px
  box-sizing: border-box
  top: banner-height + 20px
  left: 0
  right: calc(50vw + 460px)
  position: fixed
  display: flex
  justify-content: center
  .wi-container
    min-width: 220px
  
@media mq-tablet
  #website-index
    display: none