.archives-wrap
  margin: block-margin 0

.archives
  clearfix()
  margin-bottom: -15px

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  position: relative
  padding: 10px
  padding-left: 22px
  margin-bottom: 15px
  &:before
    content: ''
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    width: 12px
    border-left: 12px solid transparent;
    border-radius: 2px 0 0 2px
    box-sizing: border-box
    background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, #c0332f 0, #c0332f 12.5%, color-letter-white 0, color-letter-white 25%, #356daa 0, #356daa 37.5%, color-letter-white 0, color-letter-white 50%) 0 / 50px 50px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 1em
  line-height: 1em
  display: inline-block
  width: 90px
  @media mq-mobile
    display: block
    margin-bottom: 6px

.homepage-title
  display: inline-block

#page-nav
  clearfix()
  margin: block-margin auto
  border-radius: 3px
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
    border-radius: 3px
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      color: #fff
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border