#footer
  margin-top: 20px
  overflow: hidden
  padding-bottom: 40px
  font-size: 0.9em
  line-height: 1.2em
  color: #bbb
  transition: all 250ms
  .footer-line
    padding: 4px 0
  a
    color: #999