#header
  height: banner-height
  position: relative

#header-wrapper
  position: fixed
  left: 0
  right: 0
  top: 0
  background: hsla(0, 0%, 100%, .9);
  z-index: 10
  height: banner-height

#header-title
  display: flex
  align-items: center
  height: banner-height
  
@media mq-tablet
  #header-title
    justify-content: center

@media mq-mobile
  #header-title
    justify-content: center

#logo
  text-decoration: none
  color: #444
  font-weight: normal
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)
  font-size: logo-size
  letter-spacing: 2px
  font-family: font-serif
  line-height: 1em

#logo-img
  height: 40px
  width: 40px
  vertical-align: baseline
  margin-bottom: -6px

@media mq-mobile
  #logo-img
    display: none

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  position: absolute
  top: 15px
  width: 150px
  height: 30px
  right: -150px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 15px
  border-radius: 9999px
  border: 1px solid rgba(0, 0, 0, 0.3)
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777